<h1 class="title">About CI/CD</h1>
<p class="description">
  CI/CD (Continuous Integration/Continuous Deployment) est une méthode permettant aux développeurs de livrer des changements fréquents et fiables dans leurs applications.
  Elle améliore l'efficacité et la rapidité du développement en automatisant les tests, les builds et les déploiements.
</p>
<style>
    /* about.component.css */
.title {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    color: #4CAF50; /* Couleur verte */
    text-align: center;
    margin-top: 20px;
}

.description {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #333; /* Couleur gris foncé */
    text-align: justify;
    margin: 20px auto;
    max-width: 800px;
}

</style>